include ../page-components/indigo-info-strip

.center-wrap
    .section-wrapper
        .flex-row-equal.connect-world
            .flex-col-justify-center
                img.img-contain(src='assets/about/BFN-ABOUT-IMAGE.jpg' alt='')
            .flex-col-justify-center
                h2.title-purple.title-large.padding-bottom-2
                    |   BFN Connects You To The World
                p.padding-bottom-1
                    span
                        |   Located in Brisbane and backed by nearly a decade of experience in the telecommunications industry,
                        |   Building Fibre Networks is your specialist in building, operating and maintaining fibre-to-the-premises
                        |   optical fibre networks to new and existing multiple dwelling residential and multi-use developments.
                p
                    strong
                        |   In other words, we bring the world into Australian homes and businesses.
+indigoStrip("Looking to the Future", "Our goal is to do this better than it’s been done before. We look to the future of connectivity, so we can give our customers everything they need to achieve and maintain superfast broadband into the future. Whether you’re a developer or a resident, we make it happen for you.")

.center-wrap
    .section-wrapper
        h2.title-purple.padding-top-9.padding-bottom-7.title-large.text-align-center
            |   Why Choose Us?
        .flex-row-equal.gap-6.padding-bottom-15
            .flex-col.text-align-center
                h3.purple.title-medium.padding-bottom-2
                    |   Responsive and Agile
                p
                    |   Our compact team means we’re responsive and agile. We listen to our customers, and quickly innovate solutions to any problems or needs they have. When you ring us up, you’ll have someone on the ground who can answer your questions, respond to your queries and get you optimal results.
            .flex-col.text-align-center
                h3.purple.title-medium.padding-bottom-2
                    |   Disrupting the Status Quo
                p
                    |   Our years in the telco industry have shown us that we don’t want to be like everyone else. Or do things the way they’ve always been done. Instead we look to how we can provide innovative solutions and value where ever possible, regardless of what has been done before.
                p
                    |   While we always follow the highest possible industry standards in terms of products and service provision, in every other way we’d rather disrupt than conform, bringing cutting-edge solutions to our customers.
            .flex-col.text-align-center
                h3.purple.title-medium.padding-bottom-2
                    |   Your Services, Your Choice
                p
                    |   We’re constantly looking for better ways to improve building, operating and maintaining fibre optic networks. So, we’ve focused on being a wholesale-only, open-access network owner. That means you can use the service providers you like, not just who we tell you to.
.center-wrap.light-grey-bg
    .section-wrapper
        .flex-row-justify-center.padding-top-9.padding-bottom-2
            .width-percent-60
                h2.title-large.title-purple.padding-bottom-1.text-align-center
                    |   General Manager – Ben Sparksman
                .empty-3
                p.text-align-center
                    |   Ben is our resident telcomms expert. He started his career as a contract manager at Hutchinson Builders, and then went on to OPENetworks, where he learned the ins and outs of delivering wholesale-only, open-access optical fibre networks.
                .empty-1
                p.text-align-center
                    |   His extensive knowledge about the rapid and successful deployment of optical fibre networks has already made an impact in the property development industry. And he leads our team to deliver our services and products with the same laser focus.
                .empty-15
.center-wrap
    .section-wrapper
        h2.title-purple.padding-top-9.padding-bottom-2.title-large.text-align-center Clients
        .flex-row-equal.padding-bottom-12
            div
                ul.client-list
                    li
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Amalgamated Property Group
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beck Properties
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beulah International
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Far East Consortium
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Frasers Property Group
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Hallmark
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Lend Lease
            div
                ul.client-list
                    li
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Amalgamated Property Group
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beck Properties
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beulah International
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Far East Consortium
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Frasers Property Group
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Hallmark
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Lend Lease
            div
                ul.client-list
                    li
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Amalgamated Property Group
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beck Properties
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Beulah International
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Far East Consortium
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Frasers Property Group
                    li 
                        img(class = "aqua-filter"  src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Hallmark
                    li 
                        img(class = "aqua-filter" src="../assets/icons/arrow-point-to-right.png", alt="Icon description", width="14", height="14")
                        | Lend Lease
