.center-wrap.indigo-bg
    .section-wrapper
        .flex-row-equal.connect-world
            div
                img.img-contain(src='/assets/developers/BFN-DEV-1.jpg' alt='')
            div.color-white
                h2.color-white.title-large.padding-bottom-2
                    | BFN Connects You To The World
                p.padding-bottom-1
                    span
                        | Located in Brisbane and backed by nearly a decade of experience in the telecommunications industry,
                        | Building Fibre Networks is your specialist in building, operating and maintaining fibre-to-the-premises
                        | optical fibre networks to new and existing multiple dwelling residential and multi-use developments.
                p.padding-bottom-1
                    span
                        | Located in Brisbane and backed by nearly a decade of experience in the telecommunications industry,
                        | Building Fibre Networks is your specialist in building, operating and maintaining fibre-to-the-premises
                        | optical fibre networks to new and existing multiple dwelling residential and multi-use developments.
.center-wrap.light-grey-bg
    .section-wrapper
        h2.title-purple.padding-top-9.padding-bottom-7.title-large.text-align-center
            | Our Services
        .grid-our-services
            .grid-our-services-item 
                | Fibre TV for Free-to-Air & Foxtel
            .grid-our-services-item 
                | Community WiFi
            .grid-our-services-item 
                | CCTV
            .grid-our-services-item 
                | 5G Redundancy
            .grid-our-services-item 
                | Building Servicers
            .grid-our-services-item 
                | Antenna System (DAS) Network solutions
            .grid-our-services-item 
                | Wide Area Network for mobility
            .grid-our-services-item 
                | Additional Services
.center-wrap.dark-blue-bg
    .section-wrapper
        .flex-col.text-align-center.color-white.padding-vertical-8
            h2.title-large.padding-bottom-2
                |   Contact Us
            a.contact-form-button.align-self-center(href = "/contact.html")
                div Contact form
                i.fa-solid.fa-envelope
.center-wrap.light-grey-bg
    .section-wrapper
        h2.title-purple.padding-top-9.padding-bottom-7.title-large.text-align-center
            | Why Choose Us
        .grid-pick-me
            img.img-cover(src='/assets/developers/BFN-ABOUT-3.jpg' alt='').grid-pick-me-img-1
            .grid-pick-me-item.grid-pick-me-text-1.indigo-bg.grid-text-big-spacing
                .title-medium.aqua.margin-bottom-2
                    | Open Access Fibre Carrier
                p.color-white.line-height-small.margin-bottom-1
                    | All our services are carried over a single, superfast fibre-optic network, saving you the time and expense of installing duplicative cabling and other infrastructure in your multiple dwelling residential and mixed-use developments.
                p.color-white.line-height-small.margin-bottom-1
                    | An open access fibre carrier also means you can deliver high-speed services, like broadband and WiFi, with an innovative, flexible approach. You can choose what service providers you work with. And you can change your mind at any time, without the added expense of installing something new within your development.
            img.img-cover(src='/assets/developers/BFN-DEVELOPERS.jpg' alt='').grid-pick-me-img-2
            .grid-pick-me-item.grid-pick-me-text-2.indigo-bg.grid-text-mid-spacing
                .title-medium.aqua.margin-bottom-2
                    | Local Capacity
                p.color-white.line-height-small.margin-bottom-1.font-size-16-15
                    | We’re on the ground and local in Brisbane. Our local capacity means we can undertake full design and construct projects from start to finish. This assures you significant savings on the design, implementation and deployment of your telecommunications projects, as well as easy communication between our teams.
            img.img-cover(src='/assets/developers/BFN-DEVELOPERS-2.jpg' alt='').grid-pick-me-img-3
            .grid-pick-me-item.grid-pick-me-text-3.indigo-bg.grid-text-mid-spacing
                .title-medium.aqua.margin-bottom-2
                    | Our Promise
                p.color-white.line-height-small.margin-bottom-1.font-size-16-15
                    | Our team at BFN promise that we will strive to exceed customer expectations in all aspect of our business, from our responsive communications to our premium quality infrastructure. We are constantly adapting and working to provide innovative, cost-effective solutions for your next development project, and we promise to continue to do just that.
                p.color-white.line-height-small.margin-bottom-1.font-size-16-15
                    |   Your goals are our goals. Together we’ll build smarter, safer developments.
                