.center-wrap.light-grey-bg
  .middle-section-body
    .middle-section-thin
      .residents
        img.thin-image(src='/assets/home/BFN-HP-IMAGE-1.jpg' alt='')
        .thin-block
          h3.thin-title
            | Residents
          h4.thin-text
            | Moving to a new unit or simply trying to get connected in your new retail space shouldn&rsquo;t be hard.
            | Our team can get your internet, free-to-air TV, Foxtel, 5G services, your security system and
            | other services up and running quickly and easily. We promise excellent customer care, efficient
            | service and super-fast connection. Our job is to make your life easier.
          a.more.margin-top-3(href="/residents.html")
            | More Info
      .developers
        img.thin-image(src='/assets/home/BFN-HP-IMAGE-2.jpg' alt='')
        .thin-block
          h3.thin-title
            | Developers
          h4.thin-text
            | Your projects are your lifeblood. And that means you need every element to work well, run smoothly and do what it&rsquo;s supposed to do. BFN offers innovative, flexible fibre network solutions that are designed to suit your needs. And because we&rsquo;re an open access fibre carrier, we ensure you have the freedom of choice to continue to work with the providers that you choose.
          a.more(href="/developers.html")
            | More Info
      .retailers
        img.thin-image(src='/assets/home/BFN-HP-IMAGE-3.jpg' alt='')
        .thin-block
          h3.thin-title
            | Retailers
          h4.thin-text
            | Infrastructure is central to your ongoing business. Faults, failures and speed issues reflect badly on everyone involved. At BFN, we ensure that our high-speed, innovative infrastructure is built, serviced and maintained to the highest professional standards at all times. Our team works with you to ensure that your services are delivered to your customers with excellence and ease.
          a.more(href="/retailers.html")
            | More Info
    .middle-section-fat
      .fat-col
        h3.question.padding-bottom-2
          | Why choose BFN?
        h4.answer
          | Reliable, Efficient, Professional.
      .fat-col
        p.padding-bottom-1
          | Reliable, efficient, professional and backed by years of fibre network experience, we guarantee fully integrated, cleverly designed, super-fast FTTP networks that solve your networking problems. Whether it&rsquo;s for a multiple dwelling residential property or a mixed use development&mldr;
        p We work for you.