include ../page-components/indigo-info-strip
include ../page-components/grid-rsps-item
.center-wrap
    .section-wrapper
        .flex-row-justify-center.padding-top-9.padding-bottom-2
            .width-percent-70
                h2.title-purple.title-large.title-purple.padding-bottom-2.text-align-center
                    | Get in touch!
                p.text-align-center.margin-bottom-1
                    | Getting connected is easy with BFN. We offer superfast broadband at competitive prices through our range of internet service providers. You can pick the plan you want, with the services that suit you. Just get in touch with one of our partners to get connected quickly and easily.
                p.text-align-center.margin-bottom-1
                    | Our Retail Service Providers:
.center-wrap
    .section-wrapper
        .grid-rsps  
            +gridRspsItem("assets/residents/rsps/AFTEL.png","Aftel","P. 03 9070 8108","https://aftel.com.au/")
            +gridRspsItem('assets/residents/rsps/ASCENSA.png',"Ascensa","P. 03 9975 4040","http://ascomm.com.au/")
            +gridRspsItem('assets/residents/rsps/CLEAR.png',"Clearnetworks","P. 1300 855 215","https://www.clear.com.au/residential/fibre-to-the-home/plans-pricing/")
            +gridRspsItem('assets/residents/rsps/Commander-Thumbnail.png',"Commander"," P. 13 27 77","https://www.commander.com.au/")
            +gridRspsItem('assets/residents/rsps/connected-australia-1.png', "Connected Australia", "P. 1300 859 778", "https://www.connectedoz.com.au/")
            +gridRspsItem('assets/residents/rsps/EXETEL.png', "Exetel", "P. 13 39 38", "https://www.exetel.com.au/broadband/fibre")
            +gridRspsItem('assets/residents/rsps/freedom.png', "Freedom Internet", "P. 07 3067 3676", "https://www.freedominternet.org/")
            +gridRspsItem('assets/residents/rsps/IINET.png', "iiNet", "P. 13 19 17", "https://www.iinet.net.au/home")
            +gridRspsItem('assets/residents/rsps/IPRIMUS.png', "iPrimus", "P. 13 17 89", "https://www.iprimus.com.au/")
            +gridRspsItem('assets/residents/rsps/Launtel-Thumbnail.png', "Launtel", "P. 1800 528 683", "https://www.launtel.net.au/")
            +gridRspsItem('assets/residents/rsps/leaptel_logo.png', "Leaptel", "P. 1300 205 327", "https://leaptel.com.au/")
            +gridRspsItem('assets/residents/rsps/Occom-Thumbnail.png', "Occom", "P. 1300 200 999", "https://occom.com.au/redtrain-fibre/")
            +gridRspsItem('assets/residents/rsps/WDP-THumbnail.png', "World Dial Point", "P. 09 9018 0000", "http://www.wdpvoip.net.au/index.php")

.empty-10

+indigoStrip("Getting Help", "If you’re having any trouble getting connected, don’t go it alone! Our team is ready to help. Just give us a call and we’ll get you on your way.")
