include ../page-components/indigo-info-strip

.center-wrap
    .section-wrapper
        .flex-row-equal.connect-world
            .flex-col-justify-center
                img.img-contain(src='/assets/retailers/BFN-RETAIL.jpg' alt='')
            .flex-col-justify-center
                h3.aqua.title-medium.title-2.margin-bottom-2
                    |   Retail Service Provider
                
                h2.title-purple.title-large.padding-bottom-2
                    |   Superfast Broadband, Competitive Prices.
                p.padding-bottom-1
                    span
                        |   As a RSP, high-speed, innovative infrastructure is central to your business. We’ve integrated our premium cabling and infrastructures into apartments, townhouses, multi-use properties and more to give you easy and high-quality access that meets the highest professional standards.
                p.padding-bottom-1
                    span
                        |   Because we’re an open access fibre carrier, we can work with all qualified RSPs. Get in touch today if you’d like to connect your services with thousands of already fibre connected customers.
                a(href="/contact.html") 
                    button.visit-website.button-aqua
                        | Contact Us          
.center-wrap.indigo-bg
    .section-wrapper.color-white
        h2.padding-top-9.padding-bottom-7.title-large.text-align-center
            |   Why Choose Us?
        .flex-row-equal.gap-6.padding-bottom-15
            .flex-col.text-align-center
                h3.title-medium.padding-bottom-2
                    |   Responsive and Agile
                p
                    |   Our compact team means we’re responsive and agile. We listen to our customers, and quickly innovate solutions to any problems or needs they have. When you ring us up, you’ll have someone on the ground who can answer your questions, respond to your queries and get you optimal results.
            .flex-col.text-align-center
                h3.title-medium.padding-bottom-2
                    |   Disrupting the Status Quo
                p
                    |   Our years in the telco industry have shown us that we don’t want to be like everyone else. Or do things the way they’ve always been done. Instead we look to how we can provide innovative solutions and value where ever possible, regardless of what has been done before.
                p
                    |   While we always follow the highest possible industry standards in terms of products and service provision, in every other way we’d rather disrupt than conform, bringing cutting-edge solutions to our customers.
            .flex-col.text-align-center
                h3.title-medium.padding-bottom-2
                    |   Your Services, Your Choice
                p
                    |   We’re constantly looking for better ways to improve building, operating and maintaining fibre optic networks. So, we’ve focused on being a wholesale-only, open-access network owner. That means you can use the service providers you like, not just who we tell you to.

