footer
  .center-wrap.data
    .center
      .data-inner
        .data-col-1
          .data-title Building Fibre Networks
          div Future Proof Your Property with Super-Fast Connectivity.
        .data-col-2
        .data-col-3
          #phone-no 07 2113 2421
          .aqua.margin-bottom-3
            a.company-email(href='mailto:info@buildingfibrenetworks.com.au')
              span  info@buildingfibrenetworks.com.au
          a.contact-form-button(href="/contact.html")
            div Contact form
            div
              i.fa-solid.fa-envelope
  .center-wrap.aqua-bg
    .center
      .bottom-bar
        .copyright
          | &copy; Building Fibre Networks 2025. All rights reserved.
        h3.flex-row-mail
          div
            i.fa-solid.fa-envelope
          .bfn-email info@buildingfibrenetworks.com.au
a.fixed-up-arrow(href="#")
  span.material-symbols-outlined.arrow-up-icon arrow_upward

