doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Building Fibre Networks
  link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' rel='stylesheet')
  link(rel="icon" href="assets/page-title-logos/BFN-16x16.png")
  link(rel="icon" href="assets/page-title-logos/BFN-32x32.png")
  link(rel="apple-touch-icon" href="assets/page-title-logos/BFN-60x60.png")
  link(rel="apple-touch-icon" href="assets/page-title-logos/BFN-120x120.png")
  link(rel="apple-touch-icon" href="assets/page-title-logos/BFN-152x152.png")
  include css.pug