doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Building Fibre Networks
  link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' rel='stylesheet')
  link(rel="icon" type="image/png" href="/assets/page-title-logos/BFN-16X16.png" sizes="16x16")
  link(rel="icon" type="image/png" href="/assets/page-title-logos/BFN-32X32.png" sizes="32x32")
  include css.pug
//-   link(rel="apple-touch-icon" type="image/png" href="/assets/page-title-logos/bfn-60X60.png" sizes="60x60")
//-   link(rel="apple-touch-icon" type="image/png" href="/assets/page-title-logos/bfn-120X120.png" sizes="120x120")
//-   link(rel="apple-touch-icon" type="image/png" href="/assets/page-title-logos/bfn-152X152.png" sizes="152x152")