mixin sideNav(activePage)
    .modal-background
    .sidenav
        .flex-row-end
            .modal-close-button
                span.material-symbols-outlined.icon-close
                    | close
        .side-link-container
            each page in [{path: "/",label:"Home"}, {path: "/about.html",label:"About"}, {path: "/developers.html",label:"Developers"}, {path: "/residents.html",label:"Residents"}, {path: "/retailers.html",label:"Retailers"}, {path: "/contact.html",label:"Contact"},]
                a(href=`${page.path}`)
                    span.sidenav-text(class=activePage === page.label.toLowerCase()  ? 'side-active' : '')= page.label