mixin stickyBanner(activePage)
    .center-wrap.sticky-banner
        .center
            .sticky-header-bar
                .branding.hidden
                nav
                    each page in [{path: "/",label:"Home"}, {path: "/about.html",label:"About"}, {path: "/developers.html",label:"Developers"}, {path: "/residents.html",label:"Residents"}, {path: "/retailers.html",label:"Retailers"}, {path: "/contact.html",label:"Contact"},]
                        a(href=`${page.path}`, class=activePage === page.label.toLowerCase() ? 'active' : '')
                            span.menu-text(class=activePage === page.label.toLowerCase()  ? 'active' : '')= page.label
                    //- DONT DELETE - Removed until search function is implemented
                    //- .search-container
                    //-     span.material-symbols-outlined.flip-horizontal.search-icon
                    //-         |   search
                    .modal-button
                        .menu-lines-container
                            span.menu-line
                            span.menu-line
                            span.menu-line