include includes/head.pug
include includes/header.pug
include includes/sticky-banner.pug

+header('', true,"",'home')
+stickyBanner('index')
include includes/pages/index-page.pug
include includes/footer.pug
include includes/sidenav.pug
+sideNav('home')
include includes/scripts.pug