include includes/head.pug
include includes/header.pug
+header('residents-header', false, 'Residents', 'residents')
include includes/sticky-banner.pug
+stickyBanner('residents')
include includes/pages/residents-page.pug
include includes/footer.pug
include includes/sidenav.pug
+sideNav('residents')
include includes/scripts.pug
