mixin indigoStrip(title, content)
    .center-wrap.indigo-bg
        .section-wrapper
            .flex-row-equal.indigo-strip-padding.mobile-text-center
                h2.title-large= title
                p.lead= content