$font-family_1: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
$font-family_2: "Poppins", Helvetica, Arial, Verdana, sans-serif;
$white: white;
$aqua: #00C1D5;
$aqua-muted: #148BA9;
$dark-blue: #041e42;
$dark-blue-lighten: #13233d;
$dark-blue-rgba: rgba(4,30,66,0.8);
$grey: #50627b;
$purple: #7566A0;
$darker-purple: #65568a;
$indigo: #485CC7;
$border-grey-header: #262a4e;
$border-grey-button: #50627b;
$black: #222222;

$info-text-black: #041E42;
$dark-grey: #555;
$darker-grey:#d3d3d3;
$form-border-grey: #dddddd;
$input-grey: #cccccc;
$grey: #e4e4e4;
$light-grey: rgba(0, 0, 0, 0.04);
$overlay-grey: rgba(0, 0, 0, 0.35);
// $arrow-bg-grey: rgba(0, 0, 0, 0.1);
$red: red;
$box-shadow-grey: rgba(0, 0, 0, 0.1);
:root {
    font-size: 62.5%;
}
$spacer: 10rem
